<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Inspired Home Solutions</title>
<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>

<header>

<div class="logo">Inspired Home Solutions</div>

<nav>
<a href="#">Home</a>
<a href="login.html">login</a>
<a href="website.html">Interior</a>
<a href="architecture.html">Architecture</a>
<a href="homeappli.html">Appliances</a>
<a href="booking.html">Contact</a>
</nav>

</header>

<section class="hero">

<div class="hero-content">

<h1>Design Your Dream Home</h1>

<p>
Modern Interior Design, Smart Home Architecture,
and Premium Home Appliances under one roof.
</p>

<a href="registration.html"><button onclick="scrollServices()">Explore Services</button></a>

</div>

</section>
