<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Minimal Interior Design</title>
<link rel="stylesheet" type="text/css" href="../static/css/minimal.css">

</head>

<body>

<header>

<div class="logo">Minimal Interior</div>

<nav>
<a href="#home">Home</a>
<a href="#services">Services</a>
<a href="#gallery">Gallery</a>
<a href="booking.html">Contact</a>
</nav>

<button id="themeBtn">??</button>

</header>

<!-- Hero -->

<section class="hero" id="home">

<div class="hero-content">

<h1>Minimal Luxury Living</h1>

<p>
Neutral colors, clean furniture, and timeless elegance
to create luxurious and peaceful living spaces.
</p>

<button onclick="document.getElementById('gallery').scrollIntoView({behavior:'smooth'})">
Explore Designs
</button>

</div>

</section>

<!-- Services -->

<section id="services">

<h2 class="title">Our Interior Style</h2>

<div class="gallery">


<img src="../static/images/image1.jpg">


<img src="../static/images/lu1.jpg">

<img src="../static/images/images2.jpg">

<img src="../static/images/images3.jpg">

<img src="../static/images/images5.jpg">

<img src="../static/images/images4.jpg">


</div>

</section>

<!-- Gallery -->

<section id="gallery">

<h2 class="title">Interior Gallery</h2>

<div class="gallery">

<img src="../static/images/image1.jpg">

<img src="../static/images/images2.jpg">

<img src="../static/images/images3.jpg">

<img src="../static/images/images4.jpg">

</div>

</section>

<footer>

<p>  2026 Minimal Interior Design | Luxury   Simplicity   Comfort</p>

</footer>

<script>

const btn=document.getElementById("themeBtn");

btn.onclick=function(){

document.body.classList.toggle("dark");

btn.innerHTML=document.body.classList.contains("dark")?"?":"??";

}

function sendMessage(){

alert("Thank you! Your message has been received.");

}

</script>

</body>
</html>